# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# ML models
*.pt
*.pth
*.pkl

# Logs
*.log

# Node
node_modules/